- content_for :body_class, "game"
.bg
  .container
    .row
      .col-xs-6
        = render 'shared/game/user_stat_snapshot'
      .col-xs-6
        %p
          User Stats are going to go here

    .row
      .col-xs-9
        = render 'shared/item_card'
        .btn-group.btn-group-justified
          = render 'shared/add_experience_buttons'
      
    .row
      .col-xs-6
        = render 'shared/game/user_areas'