!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %title
      = @subject
    %body
      %p
        Welcome to Nori!    
      %p
        Nori is a game about collecting, creating, and trading items. Have you ever wondered who creates all the relics and magical trinkets found in fantasy settings? It's you! As a newly appointed sorcerer in the academy, you'll be finding items, gathering ingredients, and creating superior magic items with your sorcerer's power. Hidden throughout the world you'll also find items that are legendary by themselves that you can trade for rare ingredients. 
      %p
        During your journey to make the best items, you'll need to interact with other people in order to trade for the items you need. Creating amazing items requires ingredients from different continents, and you'll need to trade with sorcerer's from other places in order to get their rare, unique ingredients. 
      %p
        If you need any help getting started, there's a help page found at 
        = link_to "http://www.nori.nu/help", "http://www.nori.nu/help"
      %p
        To make sure our emails are delivered to your inbox, please add <a href="mailto: info@nori.nu">info@nori.nu.com</a> to your address book.
      %p
        You are receiving this email because user with email address has created a Nori account.  Please do not reply directly to this email.  If you have any questions or feedback, please contact us at <a href="mailto: support@themisbar.com">support@themisbar.com</a>.<br />