- provide :title, "Edit Profile Information"

.container
  %h1 
    Expand or update your profile
  .col-md-6.col-md-offset-3
    = render :partial => 'shared/signup_form', :locals => { :button_action => 'Update', :edit => "true"}