- provide :title, "Edit Profile Information"

.container
  %h1 
    Expand or update your profile
  = render :partial => 'shared/signup_form', :locals => { :button_action => 'Update', :edit => "true"}