- provide :title, 'Signup'

.container
  .row
    .col-md-4
      %h1
        Signup
  .row
    = render :partial => 'shared/signup_form', :locals => { :button_action => 'Create', :edit => "false"}

