.feature-list-main-page
  .row
    .col-md-12
      .feature
        .panel.panel-default.panel-hero
          .panel-body
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            .panel-footer
              This is a caption. It is a really good caption. This feature is going to change the world
  .row
    .col-md-4
      .feature
        .panel.panel-default
          .panel.body
            I am a body paragraph Put an image here in lieu of this text 
          .panel.footer.text-center
            This is a paragraph describing the first feature. It is a really good paragraph.
    .col-md-4
      .feature.text-center
        Yeah
    .col-md-4
      .feature.text-center
        Yeah
