.feature-list-main-page
  .row
    .col-md-8
      .feature.hero
        %p
          This is a paragraph describing the first feature. This is traditionally a background image
  .row
    .col-md-4
      .feature.text-center
        This is a paragraph describing the first feature. It is a really good paragraph.
    .col-md-4
      .feature.text-center
        Yeah
    .col-md-4
      .feature.text-center
        Yeah