%h2
  Travel
.btn-block.btn-group.btn-group-vertical
  - if @user_areas.is_area_1_unlocked
    %a.btn.btn-default
      Tainted Grassland
  - else
    %a.btn.btn-default.disabled
      Tainted Grassland
      %span{ :class => 'ss-icon' }
        &#x1F512;

  - if @user_areas.is_area_2_unlocked
    %a.btn.btn-default
      Searing Desert
  - else
    %a.btn.btn-default.disabled
      Searing Desert
      %span{ :class => 'ss-icon' }
        &#x1F512;

  - if @user_areas.is_area_3_unlocked
    %a.btn.btn-default
      Rainlands
  - else
    %a.btn.btn-default.disabled
      Rainlands
      %span{ :class => 'ss-icon' }
        &#x1F512;

  - if @user_areas.is_area_4_unlocked
    %a.btn.btn-default.disabled
      Doomfields
  - else
    %a.btn.btn-default.disabled
      Doomfields
      %span{ :class => 'ss-icon' }
        &#x1F512;

  - if @user_areas.is_area_5_unlocked
    %a.btn.btn-default
      Spiritlands
  - else
    %a.btn.btn-default.disabled
      Spiritlands
      %span{ :class => 'ss-icon' }
        &#x1F512;