-content_for :body_class, "game_guide"

.container.well
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    %ul
      %li
        Creating an Account
      %li
        Levelling Up
      %li
        Collecting Items
      %li
        Crafting Items
      %li
        Adding Friends
      %li
        Trading
  .col-xs-9.col-sm-9.col-md-9.col-lg-9
    %h1 
      Game Guide
    %hr
    %h3
      Creating an Account
    %p
      To create an account, you'll need to think of a username and grab an email address that you want to use for signup. Don't worry, your account information will never be sold or given out. You could even use a fake email account if you wanted, but keep in mind that if you lose your login information or forget your password, there will be no way to recover it if you go this route. You'll need:
      %ul
        %li
          A username
        %li
          An Email
        %li 
          A password that has 8 or more characters