.container.well
  .col-xs-3.col-sm-3.col-md-3.col-lg-3
    %ul
      %li 
        Menu 1
      %li
        Menu 2
      %li
        Menu 3
  .col-xs-9.col-sm-9.col-md-9.col-lg-9
    %h1 
      Nori Help and Frequently Asked Questions
    %hr
    %h3
      #about
        %b
          About
    %h4
      %b
        What is Nori?
    %p
      Nori is an online game where players come together to find and make items. In the world of Nori, every player is considered a "sorcerer" who can find and craft powerful items for others to use or sell as they see fit. 
    %p 
      As much as we like providing content, we feel strongly about including the player in the game world. If a player has a neat idea for item artwork, they can submit their artwork to be displayed on the item of their choice. We hope that this will include the community on a personal level and let people really take ownership of the game and the content they wish to see. 
    %h4
      %b
        Who we are
    %p 
      Nori is run by afficianados of games centered around finding loot and progressing a character as much as possible. In this regard, we set out to create a game that was as fun to play as the clickfests people know and love, with none of the overhead. Using the web, you can hunt down the rarest loot on virtually any platform.

    %hr

    %h3
      %b
        How to play
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %h4
      %b
        Collecting items
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %h4
      %b
        Selling items
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %h4
      %b
        Crafting Items
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %h4
      %b
        Trading Items
    %p
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?



