- provide :title, 'Home'
.width-100
  .container
    .row
      - unless signed_in?
        .col-md-7
          %h1.text-center 
            Collect items. Play with your friends. Trade around the world. 
          %p
            <b>Nori is a game about collecting, trading, and improving.</b> 
            %br
            Players are constantly finding and trading items with friends and around the world to level up, improve their character, and become legendary. 
            -# Possibly make this next paragraph into a feature blurb.
            The quest to be the best is not a solo adventure, however, as certain items are only available in certain regions. In order to complete the most unique sets, you'll have to trade with people in different regions.
          %p
            <b>Fancy yourself an artist?</b> Nori is all about encouraging users to come forth with their ideas to better the game and community. If you think an item's graphic can be tweaked, by all means post your design on the forums. If a design gets enough positive feedback from the community, we'll put it into the game. Who knows, you may even become a prolific artist whos items are sought after by many. 
        .col-md-5
          .row
            %h3
              Sign me up!
            = render 'shared/signup_form'
          .row
            .wide-margin-top
            %h3
              Let me try first
            = link_to 'Try it!', "#", :class => 'btn btn-default btn-block'
        .row
          = render 'shared/feature_list_main_page'


  .row
    .col-md-2.pull-right.highscores
      - if @highscores
        %h4   
          Current High Scores
        %hr
        = render 'snippets/highscores'


-#= render 'shared/login_form'  = render 'shared/announcements'