%h4
  Completed Collections
-# TODO These are hardcoded for now, pull from DB in future
.row
  Set #1
  .row
    .label.label-warning.margin-right-10
      Set Item #1
    .label.label-warning.margin-right-10
      Set Item #2
    .label.label-warning.margin-right-10
      Set Item #3
    .label.label-default.margin-right-10
      Set Item #4
    .label.label-default.margin-right-10
      Set Item #5
.row
  Set #2
  .row
    .label.label-success.margin-right-10
      Set Item #1
    .label.label-success.margin-right-10
      Set Item #2
    .label.label-success.margin-right-10
      Set Item #3
    .label.label-success.margin-right-10
      Set Item #4