%h4
  Achievements
-# TODO These are hardcoded for now, pull from DB in future
.row
  .col-md-12.margin-top-10
    .label.label-danger
      Level 10
.row
  .col-md-12.margin-top-10
    .label.label-danger
      Level 20
.row
  .col-md-12.margin-top-10
    .label.label-danger
      Level 30
.row
  .col-md-12.margin-top-10
    .label.label-danger
      Level 40