

// Links
// =======================

$dark_blue:   #1826B0;    // Main menu logged in
$blue:        #1E30DD;

/* Purples
======== */

$dark_purple: #100125;
$purple:      #3216B0;
$white:       #FFFFFF;
$off_white:   #F9F9F9;
$black:       #000000;
$grey_sleek:  #1A1A1A;  /* For use with menus/settings*/
$grey:        #575757;         /* For use with menus/settings background-image: -webkit-radial-gradient(center top,ellipse cover,$grey 0,darken($grey, 15%) 100%); */
$grey_dark:   #3E3E3E;
$light_grey:  #999999;
$red_orange:  #D5482A;