/* Universal Stylings
===================== */

@import "colors";

$wide_margin_top: 34px 0 0 0;
$wide_margin_bottom: 0 0 34px 0;
$wide_margin_top_bottom: 34px 0 34px 0; 
$skinny_margin_top_bottom: 17px 0 17px 0;
$skinny_margin_top: 17px 0 0 0;
$skinny_margin_bottom: 0 0 17px 0;
$logged_in_margin_top: 5px 0 0 0;

$default_paragraph_padding: .5em;

.row {
  margin: 0;
}

#map-canvas {
        height: 500px;
      }

body { 
  color: darken($grey, 10%);
  font-family: 'Open Sans', sans-serif;
  background-color: lighten($red_orange, 44%);
  background-image: radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -webkit-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -moz-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -o-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -ms-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $blue;
}

a:hover {
  color: $dark_blue;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-weight: 200;
}

label {
  font-weight: normal;
}

.logo {
  background:url(nori_logo.svg);
}

#marker { position: fixed; display: none; height: 3px; width: 100px; border-top: 3px solid $red_orange; }



/* Utility Stylings (Margins, backgrounds for divs, etc.)
===================== */

.wide-margin-top {
  margin: $wide_margin_top;
}

.skinny-margin-top {
  margin: $skinny_margin_top;
}
.logged-in-margin-top {
  margin: $logged_in_margin_top;
}

.width-100 {
  width: 100%;
}


/* Input Fields 
===================== */

.login-form {

  padding: 15px 0 0 0;

  input[type=text], 
  input[type=password] {
    background: transparent;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid $grey_dark;
    border-bottom-left-radius: 4px;
    border-left: 3px solid $grey_dark;
    color: $grey_dark;
    margin: 1em 0 0 0;
    padding: .3em;
    z-index: 3;
  }

  input[type=submit] {
    margin: 1em 0 0 0;
  }

  input[type=text]:focus, 
  input[type=password]:focus {
    border-bottom: 3px solid $blue;
  }

  textarea:focus, input:focus{
    outline: 0;
  }

  .forgot-password-margin {
    margin: 1em 0 0 0;
  }
}



/* Links  
===================== */

.main-user-menu {
  a {
  color: $light_grey;
  }

  a:hover {
  color: darken($light_grey, 15%);
  }

  li { 
    float: left; 
    padding: 10px; 
    width: 100px; 
    border: 0 px solid blue; 
    text-align: center; 
    list-style-type: none; 
  }
}


/* errors  
===================== */

.error-message {
  background-color: lighten(red, 35%);
  border: 1px solid red;
  border-radius: 4px;
  margin: 0 0 1em 0;
  padding: 0.5em;
}


/* colors  
===================== */

.white {
  background-color: $white;
}

.off-white {
  background: $off_white;
}

.grey-sleek {
  background-color: $grey_sleek;
}

.red-orange {
  background-color: $red_orange;  
}

.purple {
  background-color: $purple;  
}

.blue {
  background-color: $blue;  
}

.light-background-color {
  background-color: lighten($red_orange, 46%);
}
.light-transparent {
  background: rgba(0, 0, 0, 0.3);
}

.main-background-gradient {
  background-color: lighten($red_orange, 44%);
  background-image: radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -webkit-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -moz-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -o-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -ms-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-repeat: no-repeat;
}


/* unique page sections  
===================== */

.main-index-nav {
  font-size: 1.7em;
  margin: 25px 25px 0 25px;
  
  #marker { position: fixed; display: none; height: 3px; width: 120px; border-top: 3px solid $red_orange;}
  
  a {
    color: $grey_sleek;
  }

  a:hover {
    color: $blue;
  }
}

.feature-list-main-page {
    margin: $wide_margin_top_bottom;

    .panel {
      border: 0;
    }

    .panel-hero {
      border: 0;
    }

    .panel-body {
      background: url(placeholders/trees.jpg);
      border-radius: 4px;
      padding: 0;
      height: 100%;
    }

    .panel-footer {
      background: rgba(0, 0, 0, 0.45);
      color: $white;
      border-top: 0;
      position: relative;
      bottom: 0;
    }


    .feature {
      border-radius: 4px;
      background-color: $white;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      margin: $wide_margin_top;
    }

    .feature:hover {
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
      -o-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    }
}

.footer {
  color: $light_grey;
  background-color: $grey_sleek;
  margin: $wide_margin_top_bottom;

  p {
    padding: $default_paragraph_padding;
  }

  .footer-closing {
    color: $grey_dark;
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;

    .copyright {
      font-size: 12px;
    }

    .divider {
      font-size: 16px;
      margin: 0 .5em 0 .5em;
    }

    a {
      color: $dark_blue;
    }

    a:hover {
      color: lighten($dark_blue, 10%);
    }
  }

  .footer-closing:hover {
    color: lighten($grey_dark, 10%);
  }

  .header-border {
    border-radius: 4px;
    border-top: 5px solid $red_orange;
  }

  li {
    list-style-type: none;
  }
}


.navbar {
  margin: 0;
  background-color: $grey_sleek;
  border: 0px;
  border-radius: 0px;
  background-image: none;
}
.navbar-brand
{
  background: url(nori_logo_light.svg) no-repeat left center;
  height: 50px;
  width: 150px;
  background-color: $grey_sleek;
}