@import "colors";
@import "fonts";

/*
##################################################################
#                     Bootstrap Overrides                        #
##################################################################
*/

.alert {
  border-radius: 0px;
}

.container {
  width: 976px;
}

.btn {
  border-radius: 1px;
}

.btn-default {
  text-shadow: none;
  background-image: none;
}

.btn-group {
  border-radius: 0px;
}

.btn-success, .btn-success:hover {
  background-color: $very_light_green;
}

.well {
  border-radius: 1px;
}

.btn.disabled {
  opacity: 0.85;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.popover {
  min-width: 300px;
}

.dropdown, .dropdown-menu {
  text-decoration: none;
}

.dropdown-menu {
  background-color: $grey_sleek;
  background: rgba(0, 0, 0, 1);
}

.dropdown-menu > li > a {
  color: $light_grey;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: transparent;
  background-image: none;
  color: darken($light_grey, 15%);
}


/*
##################################################################
#                     Universal Styling                          #
##################################################################
*/

.row {
  margin: 0;
}

p {
  font-size: 1em;
}

body { 
  background-color: $green;
  color: darken($grey, 10%);
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "ProximaNova-Light", 'Open Sans', sans-serif;
}

a {
  color: $blue;

  &:hover {
    color: lighten($blue, 10%);
    text-decoration: none;
  }
}

h1 {
  font-size: 2.286em;
}

label {
  font-weight: normal;
}

.logo {
  background:url(nori_logo.svg);
}
.logo-light {
  background:url(nori_logo_light.svg);
}

.item-buttons {
  .save, .trash {
    margin: 0 0 15px 0;

    a {
      color: $grey_dark;
    }
  }
}

#marker { 
  position: fixed; 
  display: none; 
  height: 3px; 
  width: 100px; 
  border-top: 3px solid $red_orange; 
}

#guide-navigation {
  li {
    list-style-type: upper-roman;
  }
}

#user-stat-snapshot {
  background-color: $light_grey;
  border: 1px solid $grey_sleek;
  padding: 10px 15px 10px 15px;
}


/*
##################################################################
#                     Utility Stylings                           #
##################################################################
*/

.bordered {
  border: 1px solid $grey_sleek;
}

.hidden-element {
  visibility: hidden;
}

/* Font Sizes 
===================== */

.font-size-sm {
  font-size: 10px;
}

.font-size-medium {
  font-size: 15px;
}

.font-size-lg {
  font-size: 16px;
}

.font-size-xl {
  font-size: 24px;
}



/*
##################################################################
#                     Utility Stylings                           #
##################################################################
*/

#new_user {
  input[type=email],
  input[type=text], 
  input[type=password] {
    border: 1px solid $light_grey;
    border-radius: 4px;
    color: $grey_dark;
    padding: .3em;
  }

  .row {
    margin: 15px 0 0 0;
  }

  #user_username, #user_email, .btn-success {
    width: 100%;
  } 
}


/* Links  
===================== */

.main-user-menu {
  a {
    color: $light_grey;
  }

  a:hover {
    color: darken($light_grey, 15%);

    .header-icons {
      color: darken($grey_dark, 5%);
    }

  }

  li { 
    float: left; 
    padding: 10px; 
    width: 110px; 
    border: 0 px solid blue; 
    text-align: center; 
    list-style-type: none;
  }

  .header-icons {
    color: $grey_dark;
    font-size: 1.2em;
    margin: 0 2px 0 0;
  }
}


/* errors  
===================== */

.error-message {
  background-color: lighten(red, 35%);
  border: 1px solid red;
  border-radius: 4px;
  margin: 0 0 1em 0;
  padding: 0.5em;
}



/* unique page sections  
===================== */

.main-index-nav {
  font-size: 1.7em;
  margin: 25px 25px 0 25px;
  
  #marker { position: fixed; display: none; height: 3px; width: 120px; border-top: 3px solid $red_orange;}
  
  a {
    color: $grey_sleek;
  }

  a:hover {
    color: $light_grey;
  }
}


footer {
  position: relative;
  bottom: 0;
  color: $light_grey;
  background-color: $grey_sleek;
  z-index: 9;
  height: 300px;

  #footer-logo {
    margin: 15px 0 0 0;
  }

  .column-divider {
    border-top: 5px solid $red_orange;
    width: 85%;
    text-align: center;
    margin: 30px 0 0 0;
  }

  .footer-closing {
    margin: 30px 0 0 0;
    color: $grey_dark;
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;

    .copyright {
      font-size: 12px;
    }

    .divider {
      font-size: 16px;
      margin: 0 .5em 0 .5em;
    }

    a {
      color: $dark_blue;
      transition: color .25s ease-in-out;
      -moz-transition: color .25s ease-in-out;
      -webkit-transition: color .25s ease-in-out;
      -ms-transition: color .25s ease-in-out;
      -o-transition: color .25s ease-in-out;
    }

    a:hover {
      color: lighten($dark_blue, 10%);
    }
  }

  .footer-closing:hover {
    color: lighten($grey_dark, 10%);
    a {
      color: lighten($dark_blue, 5%);
    }
  }
}


.navbar {
  margin: 0;
  background-color: $grey_sleek;
  border: 0px;
  border-radius: 0px;
  min-height: 42px;
  height: 42px;

  .navbar-brand {
    background: url(nori_logo_light.svg) no-repeat;
    margin: 3px 0 0 0;
    height: 35px;
    width: 150px;
  }
}

.highscores {
  background-color: $light_grey;
  height: 100%;

  .label, .label-default {
    background-color: $grey_dark
  }
}

.progress {
    margin-bottom: 0px;
    height: 8px;
    border-radius: 2px;
}

.size {
  width: 45%;
}


.item-found {
  background-color: $off_white;
  color: $grey_sleek;
  border: 1px solid $light_grey;
  margin: 30px 0 0 0;

  transition-duration:400ms;
  -ms-transition-duration:400ms;
  -webkit-transition-duration:400ms;
  -o-transition-duration:400ms;
  -moz-transition-duration:400ms;

  .min-equip-player-level, .tier {
    font-size: .9em;
  }  

  .name {
    font-family: serif;
    font-size: 24px;
  }
  .attack-val {}
  .defense-val {}
  .luck-val {}
  .stealth-val {}
  .min-equip-player-level-val {}
  .tier-val {}
  .monetary-val {}
  .flavor-text {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0.5em;
    font-family: serif; 
    font-style: italic;
    font-size: 0.9em;
    margin: 10px 0 15px 0;
  }

  .item-image {
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    border-radius: 2px;
  }
}

.trash-item {
  opacity:0;
  transform:scale(1.2,1.2);
  -ms-transform:scale(1.2,1.2); /* IE 9 */
  -webkit-transform:scale(1.2,1.2); /* Safari and Chrome */
  -o-transform:scale(1.2,1.2); /* Opera */
  -moz-transform:scale(1.2,1.2); /* Firefox */
}


/*
##################################################################
#                     Individual Pages                           #
##################################################################
*/

body.sign_in {
  #sign-in-form {
    width: 320px;
    margin: 0 auto;

    #user_password {
      width: 100%;
    }

    #forgot-password {
      margin: 30px 0 0 0;
    }
  }
}


body.landing_page {

  #feature-container {
    background-color: $off_white;
    box-shadow: #888888 0 1px 4px;;
    -webkit-box-shadow: #888888 0 1px 4px;
    -moz-box-shadow: #888888 0 1px 4px;
    -webkit-box-shadow: #888888 0 1px 4px;
    -o-box-shadow: #888888 0 1px 4px;
  }

  #sign-up-form {
    #new_user {
      input[type=password] {
        width: 45%;
      }
    } 
  }

  .panel {
    border: 0;
    border-radius: 1px;

    p {
      padding: 15px;
    }
  }

  .panel-hero {
    border: 0;
  }

  .panel-footer {
    background: rgba(0, 0, 0, 0.45);
    color: $white;
    border-top: 0;
    position: relative;
    bottom: 0;

    p {
      padding: 15px;
    }
  }

  .feature {
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
  }

  .feature:hover {
    cursor: pointer;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
  }
}


body.game {
  /*.bg {
    background: url(area_backgrounds/blurred_rainlands.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }*/
}

body.profile {

  .profile-picture {
    border: 3px solid #000;
    width: 100px;
    height: 100px;
  }

  .paperdoll {
    background-color: $off_white;
    width: 240px;

    .equip-item {
      float: left;
      background-color: #FFF;
      width: 50px;
      height: 50px;
      margin: 15px;
      box-shadow: #888888 0 1px 4px;
      -webkit-box-shadow: #888888 0 1px 4px;
      -moz-box-shadow: #888888 0 1px 4px;
      -webkit-box-shadow: #888888 0 1px 4px;
      -o-box-shadow: #888888 0 1px 4px;
    }
  }

  .inventory-chest {
    /* TODO Temp Background, change */
    padding: 0 15px 15px 15px;
    background-color: #131313;
    border: 3px solid $red_orange;
    height: 300px;

    p {
      color: $light_grey;
    }

    h2 {
      color: $light_grey;
    }

    #loot-scroll {
      overflow-y: auto;
      height: 231px;
      width: 452px;
    }

    .inventory-item {
      /* Border color will change with item rarity */
      background-color: #FFF;
      border: 3px solid #000;
      margin: 15px 15px 0 15px;
      height: 50px;
      width: 50px;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 8px $red_orange;
        -webkit-box-shadow: 0 0 8px $red_orange;
        -moz-box-shadow: 0 0 8px $red_orange;
        -o-box-shadow: 0 0 8px $red_orange;
      }
    }

    .active {
      box-shadow: 0 0 8px $red_orange;
      -webkit-box-shadow: 0 0 8px $red_orange;
      -moz-box-shadow: 0 0 8px $red_orange;
      -o-box-shadow: 0 0 8px $red_orange;
    }

    .equip-button, .delete-button {
      margin: 15px 0 0 0
    }

    .delete-button {

      #trash-icon {
        padding: 0 5px 0 0;
      }
    }

    .quantity {
      background-color: #000;
      padding: 0 5px 0 5px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

