/* Universal Stylings
===================== */

$blue: #1826B0;
$dark_blue: #081272;
$dark_purple: #100125;
$purple: #3216B0;
$white: #FFFFFF;
$off_white: #F9F9F9;
$black: #000000;
$grey_sleek: #1A1A1A ;  /* For use with menus/settings*/
$grey: #575757;         /* For use with menus/settings background-image: -webkit-radial-gradient(center top,ellipse cover,$grey 0,darken($grey, 15%) 100%); */
$alt_grey: #212121;
$light_grey: #999999;
$red_orange: #D5482A;

$wide_margin_top: 34px 0 0 0;
$wide_margin_bottom: 0 0 34px 0;
$wide_margin_top_bottom: 34px 0 34px 0;
$skinny_margin_top_bottom: 17px 0 34px 0;

$default_paragraph_padding: .5em;

body { 
  color: darken($grey, 10%);
  font-family: 'Open Sans', sans-serif;
  background-color: lighten($red_orange, 44%);
  background-image: radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -webkit-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -moz-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -o-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -ms-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $blue;
}

a:hover {
  color: darken($purple, 15%);
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-weight: 200;
}

label {
  font-weight: normal;
}

.logo {
  background:url(nori_logo.svg);
}

#marker { position: fixed; display: none; height: 3px; width: 100px; border-top: 3px solid $purple; }



/* Utility Stylings (Margins, backgrounds for divs, etc.)
===================== */

.wide-margin-top {
  margin: $wide_margin_top;
}

.width-100 {
  width: 100%;
}


/* Input Fields 
===================== */

.login-form {

  padding: 15px 0 0 0;

  input[type=text], 
  input[type=password] {
    background: transparent;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid darken($light_grey, 10%);
    border-bottom-left-radius: 4px;
    border-left: 3px solid darken($light_grey, 10%);
    color: $light_grey;
    margin: 1em 0 0 0;
    padding: .3em;
    z-index: 3;
  }

  input[type=submit] {
    margin: 1em 0 0 0;
  }

  input[type=text]:focus, 
  input[type=password]:focus {
    border-bottom: 3px solid $purple;
  }

  textarea:focus, input:focus{
    outline: 0;
  }

  .forgot-password-margin {
    margin: 1em 0 0 0;
  }
}



/* Links  
===================== */

.main-user-menu {
  a {
  color: $light_grey;
  }

  a:hover {
  color: darken($light_grey, 15%);
  }

  li { 
    float: left; 
    padding: 10px; 
    width: 100px; 
    border: 0 px solid blue; 
    text-align: center; 
    list-style-type: none; 
  }
}


/* errors  
===================== */

.error-message {
  background-color: lighten(red, 35%);
  border: 1px solid red;
  border-radius: 4px;
  margin: 0 0 1em 0;
  padding: 0.5em;
}


/* colors  
===================== */

.white {
  background-color: $white;
}

.off-white {
  background: $off_white;
}

.grey-sleek {
  background-color: $grey_sleek;
}

.red-orange {
  background-color: $red_orange;  
}

.purple {
  background-color: $purple;  
}

.blue {
  background-color: $blue;  
}

.light-background-color {
  background-color: lighten($red_orange, 46%);
}

.main-background-gradient {
  background-color: lighten($red_orange, 44%);
  background-image: radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -webkit-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -moz-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -o-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-image: -ms-radial-gradient(center top,ellipse cover,$white 0,darken($white, 50%) 100%);
  background-repeat: no-repeat;
}


/* unique page sections  
===================== */

.feature-list-main-page {
    margin: $wide_margin_top_bottom;

    .hero {
      height: 180px;
      background: url(placeholders/trees.jpg);

    }

    .feature {
      border-radius: 4px;
      background-color: $white;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      padding: $default_paragraph_padding;
      margin: $wide_margin_top;
    }

    .feature:hover {
      box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
      -o-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    }
}

.footer {
  color: $light_grey;
  background-color: $grey_sleek;
  margin: $wide_margin_top_bottom;

  p {
    padding: $default_paragraph_padding;
  }

  .header-border {
    border-radius: 4px;
    border-top: 5px solid $red_orange;
  }

  li {

  }
}


