body {
	background-color: #78c282;
}

.black {
	background-color: #000;
}

.grey {
	background-color: #C9C9C9;
}

.white {
	background-color: #FFF;
}

.nav {
	color: #000;
	font-size: 20px;
}

.margin {
	margin-top: 3em;
}

.hero-unit-homepage img{
  width: 100%;
  height: auto;
  padding: 0;
  box-shadow: 0 0 10px #333;
}

.hero-unit-landing-page {
	padding: 0;
	background-image:url(../img/shedd-aquarium-dolphins-670x248.jpg);
	color: #FFF;
	background-size: cover;
}

.thumbnail  {
	padding: 0;
	border: 0;
	background: #0099CC;
	box-shadow: 0 0 10px #333;
}

.thumbnail img:hover {
	opacity: .9;
}

.inner {
	border: 0px solid #333;
	border-top-width:0px;
    box-shadow:         inset 0px 1px 10px #333;
}

.glass {
	background-image: url(../img/shedd-aquarium-dolphins-670x248.jpg);
		border: 0px solid #333;
	border-top-width:0px;
    box-shadow:         inset 0px 4px 10px #333;
    color: #FFF;
}